* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-top: 1px solid #000;
}

.user:hover {
  box-shadow: 0 0 1em #000;
}
