* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 105px 105px 105px 105px;
  -moz-border-radius: 105px 105px 105px 105px;
  -webkit-border-radius: 105px 105px 105px 105px;
  border: 0px solid #000000;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Allura', cursive;
}
